
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<body>
  <table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
    <tr><td align="center" valign="top">
      <table width="650" id="main" border="0" cellpadding="0" cellspacing="20">
        <tr>
          <td id="header" colspan="2">
            <a href="http://railscasts.com/"><img src="http://placehold.it/650x120" alt="RailsCasts"></a>
          </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
        <tr class="episode">
          <td>
            <a href="#"><img src="http://placehold.it/200x170" alt="#310 Getting Started with Rails"></a>
          </td>
          <td valign="top">
            <h2>Welcome to SampleApp.com, <%= @user.nom %></h2>
            <p>
              You have successfully signed up to example.com,
              your login is: <%= @user.email %>.<br>
            </p>To login to the site, just follow this link:</p>
            <p>Thanks for joining and have a great day!</p>
            <p><a href="#">Go to www.capsens.eu</a></p>
          </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
        </tr>
        <tr>
          <td id="footer" colspan="2" align="center">
            <p><a href="#">Ruby Tutorial</a> if you do not wish to receive these emails in the future.</p>
            <p>&copy;2015 Capsens.eu</p>
          </td>
        </tr>
      </table>
    </td></tr>
  </table>
</body>
</html>