<!-- Message-->


<div class="panel panel-default">
  <div class="panel-heading"><spam class="timestamp">Posté il y a <small><%= time_ago_in_words(micropost.created_at) %></small></spam></div>
  <div class="panel-body">

    <%= micropost.content %>
    <hr>
  </div>
</div>

